---
title: Days from now calculator
---

<div class="inputbox">
	<span class="number"><input type="number" value="0" class="input-number"></span>
	<span class="type">
		<select class="input-type">
		  <option value="years">years</option>
		  <option value="months">months</option>
		  <option value="weeks">weeks</option>
		  <option value="days" selected>days</option>
		  <option value="hours">hours</option>
		  <option value="minutes">minutes</option>
		  <option value="seconds">seconds</option>
		</select>
	</span>
	from
	<span class="from">now</span>
</div>

<div class="outputbox">
	23/04/2015
</div>